@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-emerald: #064e3b;
  --color-brand-emerald-light: #10b981;
}

:root {
  --bg-shell: #f8fafc;
  --bg-sidebar: rgba(255, 255, 255, 0.7);
  --bg-card: rgba(255, 255, 255, 0.8);
  --bg-glass: rgba(255, 255, 255, 0.7);
  --text-main: #0f172a;
  --text-muted: #64748b;
  --border-color: rgba(0, 0, 0, 0.08);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-shell);
  color: var(--text-main);
  transition: all 0.5s ease;
}

body.dark {
  --bg-shell: #020617;
  --bg-sidebar: rgba(15, 23, 42, 0.4);
  --bg-card: rgba(255, 255, 255, 0.03);
  --bg-glass: rgba(2, 6, 23, 0.7);
  --text-main: #f1f5f9;
  --text-muted: #94a3b8;
  --border-color: rgba(255, 255, 255, 0.1);

  background-color: var(--bg-shell);
  color: var(--text-main);
}

#root {
  width: 100%;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #059669;
}
